@using System.Security.Claims;

@model UserInformationDto
<link rel="stylesheet" href="~/css/Profile.css" />
<div class="profile">
    <div class="profile_header">

        <form method="post" enctype="multipart/form-data" asp-controller="Users" asp-action="UploadUserImage">
            @if (string.IsNullOrEmpty(Model.ImageName))
            {
                <img id="userImage" src="~/icons/user.png" />
            }
            else
            {
                <img id="userImage" src="/Image/@Model.UserName" />
            }

            <input id="fileInput" type="file" name="formFile" style="display:none" />
            <button id="submitButton" type="submit" style="display:none"></button>
        </form>
        <div class="profile_info">
            <div class="display-row">
                <p id="username" class="paragraph">@Model.UserName</p>
                <div class="button">
                    @if (User.FindFirst(ClaimTypes.Name).Value == Model.UserName)
                    {
                        <a class="btn btn-dark" asp-action="Edit">Edit profile</a>
                    }
                </div>
            </div>
            <div class="display-row">
                <p class="name font-size-18">@Model.FirstName</p>
                <p class="name font-size-18">@Model.LastName</p>
            </div>
            <div class="display-row">
                <p class="name">@DateOnly.FromDateTime(Model.BirthDate)</p>
                <p class="name">@Model.Bio</p>
                <p class="name">@Model.Interests</p>
            </div>
        </div>
    </div>
    <div class="profile_posts">

    </div>
</div>


@section Scripts{
    <script>
        $('#userImage').on('click', function () {
            $('#fileInput').trigger('click');
        });

        var username = document.getElementById("username").textContent;
        var input = document.getElementById('fileInput');
        input.oninput = e => {
            $('#submitButton').trigger('click');
        }

        let createPost = (response) => {
            for (let i = 0; i < response.length; i++) {
                let div = document.createElement('div');
                div.classList.add('card');
                div.style = 'width:16rem;height:16rem;';

                let image = document.createElement('img');
                image.classList.add('card-img-top');
                image.style = 'width: 16rem;height: 15.9rem;';
        
                let file = response[i].fileName.split('/');
                image.src = `/Image/${file[1]}/posts/${file[2]}`;
                div.appendChild(image);
                document.getElementsByClassName("profile_posts")[0].appendChild(div);
            }
        }

        $.ajax({
            url: `/Posts/GetUserPosts/${username}`,
            type: 'GET',
            success: function (response) {
                createPost(response);
            }
        });

        
    </script>
}
